.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  padding-bottom: 2%;
  padding-top: 5%;
}


.Results{
  width: 100%;
}
  

p{
      font-family: arial,sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      direction: rtl;
      font-weight: normal;
      max-width: 100vw;
      border-radius: 10px;
      padding: 5%;
      animation-name: colorChange;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }

@keyframes colorChange {
    from { box-shadow: 0px 0px 10px 5px #DEEAFF; }
    25% { box-shadow: 0px 0px 10px 5px #FCD6D3; }
    50% { box-shadow: 0px 0px 10px 5px #FFF7DE; }
    75% { box-shadow: 0px 0px 10px 5px #D8EADD; }
    to   { box-shadow: 0px 0px 10px 5px #DEEAFF;}    
}

  .mypic{
    position: absolute;
    top:0;
    left:0;
    margin-top: 30px;
    margin-left: 30px;
  }

  h3{
    font-family: arial,sans-serif;
        font-size: 16px;
        line-height: 24px;
        padding: 2.5%;
    }

  button{
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: arial,sans-serif;
        font-size: 14px;
        margin: 30px 4px;
        padding: 0px 16px;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;
        user-select: none;
        
    }
      

  button:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    }


.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2.5px + 2vmin);
  color: rgb(6, 0, 0);
  padding-left: 5%;
  padding-right: 5%;
}

.App-input:focus{
  box-sizing: border-box;
  padding-right: 20px;
  width: 35vw;
  height: 6vh;
  background: #FFFFFF;
  border: 1px solid #DFE1E5;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.28);
  border-radius: 55px;
  outline: none;
}

.App-input{
  box-sizing: border-box;
  width: 35vw;
  height: 6vh;
  background: #FFFFFF;
  border: 1px solid #DFE1E5;
  border-radius: 55px;
  padding-right: 20px;
   
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3b3b3;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b3b3b3;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #b3b3b3;
}

